* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 12px;
  color: #ffffff;
  }

window#waybar {
    background: rgba(34, 34, 34, 0.85);
    padding: 4px 8px;
}

#workspaces button {
    background: transparent;
    border: none;
    color: #aaa;
    padding: 0 5px;
}

#workspaces button.active {
    color: #fff;
    background: transparent;
}

#clock, #pulseaudio, #network {
    padding: 0 8px;
    margin: 1px;
}
