* {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 12px;
    color: transparent;
}

window#waybar {
	background: transparent;
	border-radius: 13px;
}

#workspaces {
    background: transparent;
    border-radius: 13px;
    color: transparent;
}

#workspaces button {
    background: #6A6986;
    border: none;
   /* border-radius: 60%;*/
    padding: 4px 10px;
    color: transparent;
    margin : 1px 1px;
    border-radius: 13px;
}

#workspaces button.active {
    background: #6D358A;
    border: none;
    color: transparent;
    padding: 4px 17px;
    border-radius: 13px;

}

/*#workspaces button:hover {
   padding: 0px 10px;
}*/

#clock, #pulseaudio, #network {
    padding: 4px 16px;
    background: rgba(56, 44, 106, 0.7);
    border-radius: 10px;
    margin: 0px 4px;
    color: #FFE5BA;
}
